<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohu.hospital.mapper.CireportMapper">

    <resultMap type="com.xiaohu.hospital.entity.Cireport" id="CireportMap">
        <result property="cirId" column="cirId" jdbcType="INTEGER"/>
        <result property="ciId" column="ciId" jdbcType="INTEGER"/>
        <result property="ciName" column="ciName" jdbcType="VARCHAR"/>
        <result property="orderId" column="orderId" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CireportMap">
        select
cirId, ciId, ciName, orderId
        from cireport
        where cirId = #{cirId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAll" resultMap="CireportMap">
        select
cirId, ciId, ciName, orderId
        from cireport
        <where>
            <if test="cirId != null">
                and cirId = #{cirId}
            </if>
            <if test="ciId != null">
                and ciId = #{ciId}
            </if>
            <if test="ciName != null and ciName != ''">
                and ciName = #{ciName}
            </if>
            <if test="orderId != null">
                and orderId = #{orderId}
            </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from cireport
        <where>
            <if test="cirId != null">
                and cirId = #{cirId}
            </if>
            <if test="ciId != null">
                and ciId = #{ciId}
            </if>
            <if test="ciName != null and ciName != ''">
                and ciName = #{ciName}
            </if>
            <if test="orderId != null">
                and orderId = #{orderId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="cirId" useGeneratedKeys="true">
        insert into cireport(ciId, ciName, orderId)
        values (#{ciId}, #{ciName}, #{orderId})
    </insert>

    <insert id="insertBatch" keyProperty="cirId" useGeneratedKeys="true">
        insert into cireport(ciId, ciName, orderId)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.ciId}, #{entity.ciName}, #{entity.orderId})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="cirId" useGeneratedKeys="true">
        insert into cireport(ciId, ciName, orderId)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.ciId}, #{entity.ciName}, #{entity.orderId})
        </foreach>
        on duplicate key update
ciId = values(ciId),
ciName = values(ciName),
orderId = values(orderId)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update cireport
        <set>
            <if test="ciId != null">
                ciId = #{ciId},
            </if>
            <if test="ciName != null and ciName != ''">
                ciName = #{ciName},
            </if>
            <if test="orderId != null">
                orderId = #{orderId},
            </if>
        </set>
        where cirId = #{cirId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from cireport where cirId = #{cirId}
    </delete>

</mapper>


