<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mapper.HospitalMapper">

    <resultMap type="com.hospital.entity.Hospital" id="HospitalMap">
        <result property="hpId" column="hpId" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="picture" column="picture" jdbcType="VARCHAR"/>
        <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="businessHours" column="businessHours" jdbcType="VARCHAR"/>
        <result property="deadline" column="deadline" jdbcType="VARCHAR"/>
        <result property="rule" column="rule" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="HospitalMap">
        select
hpId, name, picture, telephone, address, businessHours, deadline, rule, state
        from hospital
        where hpId = #{hpId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAll" resultMap="HospitalMap">
        select
hpId, name, picture, telephone, address, businessHours, deadline, rule, state
        from hospital
        <where>
            <if test="hpId != null">
                and hpId = #{hpId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="picture != null and picture != ''">
                and picture = #{picture}
            </if>
            <if test="telephone != null and telephone != ''">
                and telephone = #{telephone}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="businessHours != null and businessHours != ''">
                and businessHours = #{businessHours}
            </if>
            <if test="deadline != null and deadline != ''">
                and deadline = #{deadline}
            </if>
            <if test="rule != null and rule != ''">
                and rule = #{rule}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from hospital
        <where>
            <if test="hpId != null">
                and hpId = #{hpId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="picture != null and picture != ''">
                and picture = #{picture}
            </if>
            <if test="telephone != null and telephone != ''">
                and telephone = #{telephone}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="businessHours != null and businessHours != ''">
                and businessHours = #{businessHours}
            </if>
            <if test="deadline != null and deadline != ''">
                and deadline = #{deadline}
            </if>
            <if test="rule != null and rule != ''">
                and rule = #{rule}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </select>
    <select id="queryByState" resultMap="HospitalMap">
        SELECT * FROM hospital WHERE state = 1
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="hpId" useGeneratedKeys="true">
        insert into hospital(name, picture, telephone, address, businessHours, deadline, rule, state)
        values (#{name}, #{picture}, #{telephone}, #{address}, #{businessHours}, #{deadline}, #{rule}, #{state})
    </insert>

    <insert id="insertBatch" keyProperty="hpId" useGeneratedKeys="true">
        insert into hospital(name, picture, telephone, address, businessHours, deadline, rule, state)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.name}, #{entity.picture}, #{entity.telephone}, #{entity.address}, #{entity.businessHours}, #{entity.deadline}, #{entity.rule}, #{entity.state})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="hpId" useGeneratedKeys="true">
        insert into hospital(name, picture, telephone, address, businessHours, deadline, rule, state)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.picture}, #{entity.telephone}, #{entity.address}, #{entity.businessHours}, #{entity.deadline}, #{entity.rule}, #{entity.state})
        </foreach>
        on duplicate key update
name = values(name),
picture = values(picture),
telephone = values(telephone),
address = values(address),
businessHours = values(businessHours),
deadline = values(deadline),
rule = values(rule),
state = values(state)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update hospital
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="picture != null and picture != ''">
                picture = #{picture},
            </if>
            <if test="telephone != null and telephone != ''">
                telephone = #{telephone},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="businessHours != null and businessHours != ''">
                businessHours = #{businessHours},
            </if>
            <if test="deadline != null and deadline != ''">
                deadline = #{deadline},
            </if>
            <if test="rule != null and rule != ''">
                rule = #{rule},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
        </set>
        where hpId = #{hpId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hospital where hpId = #{hpId}
    </delete>

</mapper>


